.background{
  background-color: #f1f5f8 ; 
  background-size:cover;
  height:100vh;
  display:flex; 
  flex-direction:column;
  justify-content: center; 
  align-items: center; 
  
} 
.mainSentence{
  color:#2d3a35; 
  letter-spacing:2px; 
  font-family: 'Roboto';
  font-size: 30px; 
  text-align: center;
  } 

.number{
  color:#c20a72;
} 
.instruction{
  color:gray; 
  font-weight: 300; 
  letter-spacing:1px; 
} 
.button{
  color:#ffffff;
  background-color: #007bff; 
  border-radius: 2px; 
  border:none; 
  letter-spacing: 1px;
}